<p><i><b> <%= @comment.commenttor %> <label for "comment_commenttor">added a comment</label>
<label for "comment_created_at"> on <%= @comment.created_at %></label> </i></b></p>
<p><%= @comment.description %></p>
