<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;.
charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />
<%= javascript_include_tag :defaults %> 
<title>Blog Application</title>
</head>


<body>
<h1>Blog Application </h1>
<h3>Blog powered by Ruby on Rails</h3>

<%=@content_for_layout%>


</body>
</html>

